<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <span class="navbar-brand mr-auto">Hi, <strong style="text-transform: capitalize;">{{user.name}}</strong></span>
    
    <form action="/logout" method="post">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Logout</button>
    </form>
  </div>
</nav>